@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<NavMenuRes> Localize



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CV</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column" style="align-content:center">
        <div class="nav-item px-3">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" id="profilePhoto" src="/imgs/profile.jpg" alt="..." />
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localize["navbar_inicio"]
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@Localize["url_educacion"] Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localize["navbar_educacion"]
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@(Localize["url_experiencia"]) Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localize["navbar_experiencia"]
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@Localize["url_intereses"] Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localize["navbar_intereses"]
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@Localize["url_tecnologias"] Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localize["navbar_tecnologias"]
            </NavLink>
        </div>
    </nav>

</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
