@page "/Cursos"
@page "/Courses"

@using CV.Shared.Resources;
@inject IStringLocalizer<AllResourcesRes> AllResourcesResolver


<section class="resume-section" id="cursos">
    <div class="resume-section-content">

        <h2 class="mb-5">
            <span class="text-primary"> @AllResourcesResolver["cursosCertificaciones"] </span>
        </h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <img width="200" height="200" src="assets/icons/cursos/azurefundamentals.png" alt="Azure Fundamentals">
            <div class="flex-grow-1">
                <h3 class="mb-0">@AllResourcesResolver["tituloaz900"]</h3>
                <div class="subheading mb-3">@AllResourcesResolver["idCredencial"] 994243461</div>
                <div><a href="https://www.credly.com/badges/cd0b206f-92b1-4f31-a4a6-91d839f75b7c/linked_in?t=rn03ir">@AllResourcesResolver["verificacionDocumentos"]</a></div>
                <div><p> @AllResourcesResolver["az900"] </p></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">dc. 2022</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <img width="200" height="200" src="assets/icons/cursos/gobrioja.jfif" alt="Gobierno de la Rioja">
            <div class="flex-grow-1">
                <h3 class="mb-0">@AllResourcesResolver["tituloCursoMaui"]</h3>
                <div class="subheading mb-3">@AllResourcesResolver["idCredencial"] E5M024D62Y90BZT</div>
                <div><a href="https://www.larioja.org/oficina-electronica/es/verificacion-documentos-electronicos">@AllResourcesResolver["verificacionDocumentos"]</a></div>
                <div><p> @AllResourcesResolver["descripcionCursoMaui"] </p></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">oct. 2022</span></div>
        </div>


        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <img width="200" height="200" src="assets/icons/cursos/gobrioja.jfif" alt="Gobierno de la Rioja">
            <div class="flex-grow-1">
                <h3 class="mb-0">@AllResourcesResolver["tituloCursoBlazor"]</h3>
                <div class="subheading mb-3">
                    @AllResourcesResolver["idCredencial"] Y83Q73BHZDJY9BF
                </div>
                <div>
                    <a href="https://www.larioja.org/oficina-electronica/es/verificacion-documentos-electronicos">
                        @AllResourcesResolver["verificacionDocumentos"]
                    </a>
                </div>
                <div><p> @AllResourcesResolver["descripcionCursoBlazor"]</p></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">sept. 2022</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <img width="200" height="200" src="assets/icons/cursos/gobrioja.jfif" alt="Gobierno de la Rioja">
            <div class="flex-grow-1">
                <h3 class="mb-0">@AllResourcesResolver["tituloProgramacionNET"]</h3>
                <div class="subheading mb-3">@AllResourcesResolver["idCredencial"] IYYS1J3Y8FGH5J5ID</div>
                <div><a href="https://www.larioja.org/oficina-electronica/es/verificacion-documentos-electronicos">@AllResourcesResolver["verificacionDocumentos"]</a></div>
                <div><p>@AllResourcesResolver["descripcionProgramacionNET"] </p></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul. 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <img width="200" height="200" src="assets/icons/cursos/googleactivate.png" alt="GoogleActivate">
            <div class="flex-grow-1">
                <h3 class="mb-0">Cloud Computing</h3>
                <div class="subheading mb-3">@AllResourcesResolver["idCredencial"] NZQ DVY NBU</div>
                <div><a href="https://learndigital.withgoogle.com/link/1nur091p2ww">@AllResourcesResolver["verificacionCertificados"]</a></div>
                <div><p> @AllResourcesResolver["descripcionCloudComputing"] </p></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">oct. 2021</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <img width="200" height="200" src="assets/icons/cursos/gobrioja.jfif" alt="Gobierno de la Rioja">
            <div class="flex-grow-1">
                <h3 class="mb-0">@AllResourcesResolver["tituloContenedoresDocker"]r</h3>
                <div class="subheading mb-3">@AllResourcesResolver["idCredencial"] UXGJYIVF8J4JEZX</div>
                <div><a href="https://www.larioja.org/oficina-electronica/es/verificacion-documentos-electronicos">@AllResourcesResolver["verificacionDocumentos"]</a></div>
                <div><p>@AllResourcesResolver["descripcionContenedoresDocker"]</p></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">sept. 2021</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <img width="200" height="200" src="assets/icons/cursos/googleactivate.png" alt="GoogleActivate">
            <div class="flex-grow-1">
                <h3 class="mb-0">@AllResourcesResolver["tituloIntroduccionDesarrolloWeb"]</h3>
                <div class="subheading mb-3">@AllResourcesResolver["idCredencial"] AAU 9KS DU9 & R3D SRM CTN</div>
                <div><a href="https://learndigital.withgoogle.com/link/1nur091p2ww">@AllResourcesResolver["verificacionCertificados"]</a></div>
                <div><p>@AllResourcesResolver["descripcionIntroduccionDesarrolloWeb"]</p></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">sept. 2021</span></div>
        </div>





    </div>
</section>